.search-box {
  width: 300px;
  margin-bottom: 20px;
  display: block;
}

table {
  width: 100%;
}

.status {
  padding: 4px 10px;
  border-radius: 12px;
  background-color: #e5e7eb;
}

.status.converted {
  background-color: #bbf7d0;
  color: #166534;
}

:host ::ng-deep .mat-mdc-header-row {
  background-color: #828386;
}

:host ::ng-deep .mat-mdc-header-cell {
  color: white;
  font-weight: 600;
}
