.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #1e293b;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f172a;
}

.menu {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.menu a {
  padding: 12px 20px;
  color: #cbd5e1;
  text-decoration: none;
  font-weight: 500;
}

.menu a.active,
.menu a:hover {
  background-color: #334155;
  color: #ffffff;
}

#profile{
    position: absolute;
    bottom: 0;
    
}

/* .menu a img{
  height: 20px;
  width: 20px;
} */