.app-footer {
  height: 40px;
  background-color: #f1f5f9;
  color: #475569;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-top: 1px solid #e2e8f0;
  position:static;
}
